.about {
    position:fixed;
    top:5%;
}

h1 {
    font-size: 4rem;
    font-family: 'JetBrains Mono';
}

p {
    font-size: 1.5rem;
    font-family: 'JetBrains Mono';
}

em {
    font-size: 1.5rem;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    color: #f571ec;
}

a {
    font-size: 1.5rem;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    color: #f571ec;
}
