.nav-container {
  display: flex;
  /* Move container to top right of screen */
  position: absolute;
  top: 0;
  right: 0;
  gap: 5px;
  padding-top: 10px;
  padding-right: 30px;
}

.link {
    background: -webkit-linear-gradient(#f571ec, #d461cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-decoration: none;
    font-weight: 999;
}

